.swiper-button-prev::after,
.swiper-button-next::after {
    color: white;
    border: none;
    filter: drop-shadow(5px 7px 7px #000);
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
    transform: scale(1.1);
}
